extends index.pug 

block content 
    form(action=`/users/update`, method="get") 
        .card(style='width: 20em')
            img.card-img-top(src='https://ebest.vn/wp-content/uploads/2021/07/giai-ma-giac-mo-thay-gai-dep.jpg' alt='...')
            .input-group.flex-nowrap
                input.form-control(type='text' aria-describedby='addon-wrapping' name='id' value=data._id hidden)    
                span#addon-wrapping.input-group-text Name
                input.form-control(type='text' placeholder='Username' aria-label='Username' aria-describedby='addon-wrapping' name='name' value=data.name)
            
            .input-group.flex-nowrap    
                span#addon-wrapping.input-group-text Email
                input.form-control(type='text' placeholder='Email' aria-label='Email' aria-describedby='addon-wrapping' name='email' value=data.email)
            
            .input-group.flex-nowrap
                span#addon-wrapping.input-group-text CreateAt
                input.form-control(type='text' placeholder='Email' aria-label='Email' aria-describedby='addon-wrapping' value=data.createAt readonly )
            .input-group.flex-nowrap
                span#addon-wrapping.input-group-text UpdateAt
                input.form-control(type='text' placeholder='v' aria-label='updateAt' aria-describedby='addon-wrapping' value=data.updateAt readonly)
            button(type="submit") Update
