extends index.pug 

block content
    .flex.f-start
        .profile
            .data-block
                label Avatar
                i(
                    type="file" 
                    value=user.avatar 
                )
            .data-block
                label Username
                input(
                    type="text" 
                    value=user.username 
                    readonly
                )
            .data-block
                label email
                input(
                    type="text" 
                    value=user.email 
                    readonly
                )
            .data-block
                label role: 
                span(class='role' style='padding: .5em; border-radius: .5em')=user.role
            .data-block
                label joined
                input(
                    type="text" 
                    value=user._id.getTimestamp() 
                    readonly
                )
            .flex
                a(href="/account/logout" class='btn') Logout 
