extends ../index.pug

block content
  form(action=`/posts/editPost/${data._id}?_method=PUT` method="POST") 
    .row(style='margin: 0 auto')
      .content-block.col-sm-8.offset-2  
        h2.title Author:
        input(type="text" name='author' class='author' value=data.author readonly)
      .content-block.col-sm-8.offset-2 
        h2.title Title
        input(type="text" name='title' value=data.title)
      .content-block.col-sm-8.offset-2 
        h2.title Tags
        input(type="text" id='tags')
        ul.list-group#tags-list
          each tag in data.tags
            li.list-group-item.d-flex.justify-content-between.align-items-center
              .form-check
                input#exampleRadios1.form-check-input(type='checkbox' name='tags' value=tag checked='')
                label.form-check-label=tag
              span.badge.badge-danger.badge-pill.btn.remove-tag
                i.fa.fa-times
      .content-block.col-sm-8.offset-2.center
        button(type="submit" class='btn btn-success') Update!